#live_weather {
    position: fixed;
    top: 5vh;
    right: 5vh;
}

#live_weather {
    padding: 0.5em;
    border-radius: 1em;
    font-size: 2em;
    color: rgb(245, 245, 241);
    text-shadow: black 0.05em 0.05em 0.01em, black -0.01em -0.01em 0.1em;
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 5em;
    text-align: center;
    font-family: 'ViceCitySans';
}
#live_weather .temp{
    font-size: 2.5em;
    font-weight: bold;
}
#live_weather .temp[var='feels_like'],
#live_weather .humidity{
    font-size: 0.75em;
}
/*
#live_weather .temp::before {
    content: "";
    display: inline-block;
    height: 1em;
    width: 1em;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/thermometer-scale.png);
}
*/
#live_weather .temp[var='feels_like']::before {
    content: "feels like";
    display: inline-block;
    font-size: 0.70em;
    white-space: nowrap;
    font-weight: normal;
    width: 5em;
    background: none !important;
}
#live_weather .humidity::before {
    content: "";
    display: inline-block;
    height: 1em;
    width: 1em;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/raining.png);
}
#live_weather .temp::after {
    font-size: 0.5em;
    position: relative;
    bottom: 0.5em;
}
#live_weather .temp[var='feels_like']::after,
#live_weather .humidity::after {
    font-size: 0.75em;
    position: relative;
    bottom: 0.25em;
}
.temp[temp_range='-1'],
.temp[temp_range='0']{
    color: #8900d3;
}
.temp[temp_range='1']{
    color: #6300e9;
}
.temp[temp_range='2']{
    color: #4600fd;
}
.temp[temp_range='3']{
    color: #4814f9;
}
.temp[temp_range='4']{
    color: #4a80f4;
}
.temp[temp_range='5']{
    color: #4cb6f2;
}
.temp[temp_range='6']{
    color: #6fdde0;
}
.temp[temp_range='7']{
    color: #c7eab5;
}
.temp[temp_range='8']{
    color: #e1db51;
}
.temp[temp_range='9']{
    color: #dec21d;
}
.temp[temp_range='10']{
    color: #e5921c;
}
.temp[temp_range='11'],
.temp[temp_range='12'],
.temp[temp_range='13']{
    color: #f32a1a;
}
/* clouds */
[icon='01d']{
    background-image: url(../img/weather/01d.png);
}
[icon='02d']{
    background-image: url(../img/weather/02d.png);
}
[icon='03d']{
    background-image: url(../img/weather/03d.png);
}
[icon='04d']{
    background-image: url(../img/weather/04d.png);
}
[icon='01n']{
    background-image: url(../img/weather/01n.png);
}
[icon='02n']{
    background-image: url(../img/weather/02n.png);
}
[icon='03n']{
    background-image: url(../img/weather/03n.png);
}
[icon='04n']{
    background-image: url(../img/weather/04n.png);
}
/* rain */
[icon='09d']{ /* clouds and rain */
    background-image: url(../img/weather/09d.png);
}
[icon='10d']{ /* rain and cloud and sun */
    background-image: url(../img/weather/10d.png);
}
[icon='11d']{ /* clouds and lightning */
    background-image: url(../img/weather/11d.png);
}
[icon='09n']{ /* clouds and rain */
    background-image: url(../img/weather/09n.png);
}
[icon='10n']{ /* rain and cloud and sun */
    background-image: url(../img/weather/10n.png);
}
[icon='11n']{ /* clouds and lightning */
    background-image: url(../img/weather/11n.png);
}
/* snow */
[icon='13d']{
    background-image: url(../img/weather/13d.png);
}
[icon='13n']{
    background-image: url(../img/weather/13n.png);
}
/* haze */
[icon='50d']{
    background-image: url(../img/weather/50d.png);
}
[icon='50n']{
    background-image: url(../img/weather/50n.png);
}